:root {
  --black: #111;
  --white: #eee;

  --font-colour: var(--black);
  --background-colour: var(--white;)
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  color: #111;
  color: var(--font-colour);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-colour);
}

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: clamp(3rem, 12vw, 4rem);
  margin-bottom: 1rem;
}
a {
  font-size: clamp(2rem,10vw,3rem)
}

a {
  text-underline-offset: 0.4ch;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-colour: var(--white);
    --background-colour: var(--black);
  }
}